/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

//NOTE: The default publishDir is derived from the process name
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc" },
            mode: params.publish_dir_mode
        ]

        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

//NOTE: TRIMMING_ADAPTORS_WF

    withName: BBMAP_PHIX {
        publishDir = [
            path: { "${params.outdir}/misc/bbmap_phix" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TRIMM {
        publishDir = [
            path: { "${params.outdir}/misc/trimm" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CAT_PAIR_UNPAIR {
        publishDir = [
            path: { "${params.outdir}/misc/cat_pair_unpair" },
            mode: params.publish_dir_mode
        ]
    }


//NOTE: CLEANING_CONTIGS_WF

    withName: SEQKIT_FILTER {
        publishDir = [
            path: { "${params.outdir}/misc/seqkit_filter" },
            mode: params.publish_dir_mode,
            //enabled: false
        ]
    }

    withName: VIRSORTER_DETECT {
        publishDir = [
            path: { "${params.outdir}/misc/virsorter_detect" },
            mode: params.publish_dir_mode
        ]
    }


    withName: CHECKV_VIRAL_SEQ {
        publishDir = [
            path: { "${params.outdir}/viral_assembly/checkv_viral_seq" },
            mode: params.publish_dir_mode,
            pattern: '**/*.fna'
        ]
    }

    withName: BBMAP_MAPPING_CONTIGS {
        publishDir = [
            path: { "${params.outdir}/contig_stats/bbmap_mapping_contigs" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
    }

    withName: ABRICATE_RUN {
        publishDir = [
            path: { "${params.outdir}/misc/abricate_run" },
            mode: params.publish_dir_mode
        ]
    }

    withName: ABRICATE_SUMMARY {
        publishDir = [
            path: { "${params.outdir}/quality_control/abricate_summary" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BACPHLIP_LIFE_STYLE {
        publishDir = [
            path: { "${params.outdir}/quality_control/bacphlip_life_style" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BBMAP_MERGE {
        publishDir = [
            path: { "${params.outdir}/misc/bbmap_merge" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TRIMM_UNMERGE {
        publishDir = [
            path: { "${params.outdir}/misc/trimm_unmerge" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TRIMM_MERGE {
        publishDir = [
            path: { "${params.outdir}/misc/trimm_merge" },
            mode: params.publish_dir_mode
        ]

    }
    withName: SPADES_DENOVO {
        publishDir = [
            path: { "${params.outdir}/viral_assembly/spades_denovo" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PHAROKKA {
        publishDir = [
            path: { "${params.outdir}/annotation/pharokka" },
            mode: params.publish_dir_mode
        ]
    }


    withName: MMSEQ2_ELINCLUST {
        publishDir = [
            path: { "${params.outdir}/misc/mmseq2_elinclust" },
            mode: params.publish_dir_mode
        ]
    }

//NOTE: HOST_REMOVAL_WF

    withName: MINIMAP2_INDEX {
        publishDir = [
            path: { "${params.outdir}/misc/minimap2_index" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: MINIMAP2_HOST_REMOVAL {
        publishDir = [
            path: { "${params.outdir}/misc/minimap2_host_removal" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    withName: BBMAP_SINGLETONS {
        publishDir = [
            path: { "${params.outdir}/misc/bbmap_singletons" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CAT {
        publishDir = [
            path: { "${params.outdir}/misc/cat" },
            mode: params.publish_dir_mode
        ]
    }

    withName: KALLISTO_INDEX {
        publishDir = [
            path: { "${params.outdir}/misc/kallisto_index" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: KALLISTO_ALIGN {
        publishDir = [
            path: { "${params.outdir}/misc/kallisto_align" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: SAMTOOLS_FASTQ {
        publishDir = [
            path: { "${params.outdir}/misc/samtools_fastq" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PIGZ {
        publishDir = [
            path: { "${params.outdir}/misc/pigz" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: BBMAP_DEDUPE {
        publishDir = [
            path: { "${params.outdir}/misc/bbmap_dedupe" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BBMAP_DEDUPED_REFORMAT {
        publishDir = [
            path: { "${params.outdir}/misc/bbmap_deduped_reformat" },
            mode: params.publish_dir_mode
        ]
    }


    withName: BBMAP_DUDUPED_NORMALIZATION {
        publishDir = [
            path: { "${params.outdir}/misc/bbmap_duduped_normalization" },
            mode: params.publish_dir_mode
        ]
    }

//NOTE: TAXONOMY_WF

    withName: MMSEQ2_ETAXONOMY_AA {
        publishDir = [
            path: { "${params.outdir}/taxonomy/aa_tax/mmseq2_etaxonomy_aa" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TAXONKIT_REFORMAT_AA {
        publishDir = [
            path: { "${params.outdir}/taxonomy/aa_tax/taxonkit_reformat_aa" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SUMMARY_PER_SAMPLE_AA {
        publishDir = [
            path: { "${params.outdir}/taxonomy/aa_tax/summary_per_sample_aa" },
            mode: params.publish_dir_mode
        ]
    }


    withName: SUMMARY_COHORT_AA {
        publishDir = [
            path: { "${params.outdir}/quality_control/tax_summary_cohort_aa" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MMSEQ2_ETAXONOMY_NT {
        publishDir = [
            path: { "${params.outdir}/taxonomy/nt_tax/mmseq2_etaxonomy_nt" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TAXONKIT_REFORMAT_NT {
        publishDir = [
            path: { "${params.outdir}/taxonomy/nt_tax/taxonkit_reformat_nt" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SUMMARY_PER_SAMPLE_NT {
        publishDir = [
            path: { "${params.outdir}/taxonomy/nt_tax/summary_per_sample_nt" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SUMMARY_COHORT_NT {
        publishDir = [
            path: { "${params.outdir}/quality_control/tax_summary_cohort_nt" },
            mode: params.publish_dir_mode
        ]
    }


}
