
//https://pawsey.atlassian.net/wiki/spaces/US/pages/51929058/Running+Jobs+on+Setonix

process {

        resourceLimits = [memory:'280 GB', cpus:64]

	errorStrategy = "ignore"

	withName: "SEQKIT_FILTER"  {
                ext.args = "-m 3000"
	}


	withName: PHAROKKA  {
	      memory = '60.GB'	      
	      cpus = 8	      
              resourceLimits = [memory:'60.GB', cpus:8]
	}


	withName: SPADES_DENOVO  {
	      memory = '150.GB'	      
	      cpus = 8
              resourceLimits = [memory:'150.GB', cpus:8]
	}



	withLabel:process_high_memory {
	      memory = '200.GB'	      
	      cpus = 16	      
              time = '8h'
              resourceLimits = [memory:'200.GB', cpus:16, time: '8h']
	   }


}


/*
singularity  { 
	runOptions = "-B /home/p_agudeloromero/mysoftware/DB_everest/ -B /scratch/pawsey0876/p_agudeloromero/singularity_tmpdir -B /home/p_agudeloromero"
}

*/


docker.registry        = 'quay.io'

